.category_card{
    background-image:   linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/images/category_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}