.hero_section{
    background-image: url("../../assets/images/hero-image_1700x500.jpg");
    background-repeat: no-repeat;
}


.grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
  }
  
  /* Screen larger than 600px? 2 column */
  @media (min-width: 600px) {
    .grid { grid-template-columns: repeat(2, 1fr); }
  }
  
  /* Screen larger than 900px? 3 columns */
  @media (min-width: 900px) {
    .grid { grid-template-columns: repeat(3, 1fr); }
  }

  @media (min-width: 1100px) {
    .grid { grid-template-columns: repeat(4, 1fr); }
  }